<?xml version="1.0" encoding="iso-8859-1"?>


<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <!-- ================================= -->
    <!-- Preserve messages in a local file -->
    <!-- ================================= -->

    <!-- A time/date based rolling appender -->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <!--errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/-->
        <param name="File" value="./benerator.log"/>
        <param name="Append" value="false"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p (%t) [%c] %m%n"/>

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
            <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
             -->
        </layout>

    </appender>


    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <!--errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/-->

        <param name="Target" value="System.out"/>
        <param name="Threshold" value="debug"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p (%t) [%c{1}] %m%n"/>
        </layout>
    </appender>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <category name="org.apache">
        <priority value="warn"/>
    </category>

    <category name="shop">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.CONFIG">
        <priority value="debug"/>
    </category>

    <category name="com.rapiddweller.COMMENT">
        <priority value="debug"/>
    </category>

    <category name="com.rapiddweller.SQL">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.JDBC">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.benerator">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.benerator.STATE">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.commons">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.dataset">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.model">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.platform.db">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.commons.converter">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.platform.db.DBSystem">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.platform.xml">
        <priority value="info"/>
    </category>

    <category name="com.rapiddweller.domain">
        <priority value="info"/>
    </category>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <priority value="info"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
