<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <!-- appenders -->

    <Appenders>
        <RollingFile name="fileLogger" fileName="./benerator.log" filePattern="./benerator-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <!-- loggers -->

    <Loggers>
        <!-- Special loggers -->
        <Logger name="com.rapiddweller.JDBC" level="info"/>
        <Logger name="com.rapiddweller.SQL" level="info"/>
        <Logger name="com.rapiddweller.COMMENT" level="info"/>
        <Logger name="com.rapiddweller.CONFIG" level="info"/>
        <Logger name="com.rapiddweller.benerator.STATE" level="info"/>

        <!-- general loggers -->
        <Logger name="com.rapiddweller.apache" level="warn"/>
        <Logger name="com.rapiddweller.shop" level="info"/>
        <Logger name="com.rapiddweller" level="info"/>
        <Logger name="com.rapiddweller.platform.xml" level="info"/>
        <Logger name="com.rapiddweller.common.converter" level="info"/>
        <Logger name="com.rapiddweller.platform.db" level="info"/>
        <Logger name="com.rapiddweller.model" level="info"/>
        <Logger name="com.rapiddweller.dataset" level="info"/>
        <Logger name="com.rapiddweller.common" level="info"/>
        <Logger name="com.rapiddweller.benerator" level="info"/>
        <Logger name="com.rapiddweller.domain" level="info"/>

        <!-- Root setup -->

        <Root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="fileLogger"/>
        </Root>

    </Loggers>
</Configuration>
