<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <!-- appenders -->

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <!-- loggers -->

    <Loggers>
        <!-- Special loggers -->
        <Logger name="com.rapiddweller.JDBC" level="warn"/>
        <Logger name="com.rapiddweller.SQL" level="warn"/>
        <Logger name="com.rapiddweller.COMMENT" level="warn"/>
        <Logger name="com.rapiddweller.CONFIG" level="warn"/>
        <Logger name="com.rapiddweller.benerator.STATE" level="warn"/>

        <!-- general loggers -->
        <Logger name="com.rapiddweller.apache" level="warn"/>
        <Logger name="com.rapiddweller.shop" level="warn"/>
        <Logger name="com.rapiddweller" level="warn"/>
        <Logger name="com.rapiddweller.platform.xml" level="warn"/>
        <Logger name="com.rapiddweller.common.converter" level="warn"/>
        <Logger name="com.rapiddweller.platform.db" level="warn"/>
        <Logger name="com.rapiddweller.model" level="warn"/>
        <Logger name="com.rapiddweller.dataset" level="warn"/>
        <Logger name="com.rapiddweller.common" level="warn"/>
        <Logger name="com.rapiddweller.benerator" level="warn"/>
        <Logger name="com.rapiddweller.domain" level="warn"/>

        <!-- Root setup -->

        <Root level="warn">
            <appender-ref ref="console"/>
        </Root>

    </Loggers>
</Configuration>
